<!--******** Orders information...  -->
<div class="panel panel-default">
  <div class="panel-heading"> Informacion de {{title}}</div>
  <div class="panel-body">

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"
              ng-repeat="task in taskArray"
              ng-click="expendedArray[$index] = ! expendedArray[$index]">
        <i class="glyphicon glyphicon-ok"></i> {{task.title}}
      </button>
    </div>
    <hr>
    <div uib-collapse="expendedArray[$index]" ng-repeat="task in taskArray">
      <task-details
        context-obj="task"
        task-action="taskAction"></task-details>
    </div>

  </div>
</div>
