<form novalidate>
  <div>
    <div class="modal-header">
      <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <!-- Text input-->
        <div class="form-group" ng-class="{ 'has-error' : $cn.clientForm.name.$invalid && !$cn.clientForm.name.$pristine }">
          <label class="col-md-4 control-label" for="name">Subproductos:</label>
          <div class="col-md-6">
            <ui-select ng-model="selected.value" on-select="fromSelected($item, $model)">
              <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="spec in specs | propsFilter: {name: $select.search, idSpecs: $select.search}">
                <span ng-bind="spec.idSpecs"></span>
                <span ng-bind="spec.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:10px;">
        <div class="col-sm-12">
          <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
            <thead>
              <tr role="row">
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="serviceTypeSpecs.length == 0 || serviceTypeSpecs == null"><td colspan="5">No Items found</td></tr>
              <tr class="gradeA" role="row"
                  ng-class-odd="'odd'" ng-class-even="'even'"
                  ng-repeat="selectedSpec in serviceTypeSpecs">
                  <td>
                    {{selectedSpec.spec.name}}
                  </td>
                  <td>{{selectedSpec.spec.description}}</td>
                  <td class="action-column">
                    <a href="#" ng-click="deleteItem(selectedSpec)"
                        class="btn btn-danger btn-circle">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>





    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" ng-click="okAction()" ng-disabled="itemForm.$invalid">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>
