<div id="page-wrapper" class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right" style="padding: 10px;">
        <a href="#" ui-sref="client.all" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-chevron-left"></span> Back
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Client Form
        </div>
        <div class="panel-body">
          <form class="form-horizontal" name="$cn.clientForm" ng-submit="$cn.saveClient()" novalidate>
            <fieldset>

              <!-- Form Name -->
              <legend>{{$cn.title}}</legend>

              <!-- Text input-->
              <div class="form-group" ng-class="{ 'has-error' : $cn.clientForm.name.$invalid && !$cn.clientForm.name.$pristine }">
                <label class="col-md-4 control-label" for="name">Name *</label>
                <div class="col-md-6">
                  <input id="name" name="name" type="text" placeholder="name" class="form-control input-md" required
                    ng-model="$cn.client.name" ng-minlength="3">
                  <p ng-show="$cn.clientForm.name.$error.minlength" class="help-block">Value too short</p>
                  <span class="help-block">Enter user first name</span>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group" ng-class="{ 'has-error' : $cn.clientForm.lastName.$invalid && !$cn.clientForm.lastName.$pristine }">
                <label class="col-md-4 control-label" for="lastName">Last Name*</label>
                <div class="col-md-6">
                  <input id="lastName" name="lastName" type="text" class="form-control input-md" required
                    ng-model="$cn.client.lastName" ng-minlength="3">
                  <p ng-show="$cn.clientForm.lastName.$error.minlength" class="help-block">Value too short</p>
                  <span class="help-block">Enter user last name</span>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group"
                  ng-hide="!$cn.newClient" ng-class="{ 'has-error' : $cn.clientForm.phonenumber.$invalid && !$cn.clientForm.phonenumber.$pristine }">
                <label class="col-md-4 control-label" for="phonenumber">Phone Number*</label>
                <div class="col-md-6">
                  <input id="phonenumber" name="phonenumber" type="text" class="form-control input-md"
                    ng-model="$cn.temporalPhone" ng-minlength="3">
                  <p ng-show="$cn.clientForm.phonenumber.$error.minlength" class="help-block">Value too short</p>
                </div>
              </div>

              <!-- Select Basic -->
              <div class="form-group" ng-hide="$cn.newClient">
                <label class="col-md-4 control-label" for="primaryPhone">Select Primary Phone</label>
                <div class="col-md-6">
                  <select class="form-control"
                      ng-options="phone as phone.number for phone in $cn.client.phoneNumbers"
                      ng-model="$cn.selectedPhone" ng-change="$cn.changeDefaultPhone()"></select>
                </div>
                <button type="button" class="btn btn-default glyphicon glyphicon-edit" ui-sref="client.phone({client: $cn.client})"></button>
              </div>

              <!-- Select Basic -->
              <div class="form-group" ng-hide="$cn.newClient">
                <label class="col-md-4 control-label" for="primaryAddress">Select Primary Address</label>
                <div class="col-md-6">
                  <select class="form-control"
                      ng-options="addr as addr.address for addr in $cn.client.addresses"
                      ng-model="$cn.selectedAddress" ng-change="$cn.changeDefaultAddress()"></select>
                </div>
                <button type="button" class="btn btn-default glyphicon glyphicon-edit" ui-sref="client.address({client: $cn.client})"></button>
              </div>

              <!-- Select Basic -->
              <div class="form-group" ng-hide="$cn.newClient">
                <label class="col-md-4 control-label" for="primaryPayment">Select Primary Payment</label>
                <div class="col-md-6">
                  <select class="form-control"
                      ng-options="payment as payment.token for payment in $cn.client.clientPaymentInfos"
                      ng-model="$cn.selectedPayment" ng-change="$cn.changeDefaultPayment()"></select>
                </div>
                <button type="button" class="btn btn-default glyphicon glyphicon-edit" ui-sref="client.payment({client: $cn.client})"></button>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="twitter">Twitter</label>
                <div class="col-md-6">
                  <input id="twitter" name="twitter" type="text" placeholder="@username" class="form-control input-md"
                    ng-model="$cn.client.twitter">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-6">
                  <input id="email" name="email" type="text" placeholder="name@domain.com" class="form-control input-md"
                    ng-model="$cn.client.email">

                </div>
              </div>

              <!-- Button (Double) -->
              <div class="buttons-footer">

                <button type="submit" class="btn btn-primary" ng-disabled="$cn.clientForm.$invalid">Submit</button>
                <button type="button" class="btn btn-regular" ng-click="$parent.openAddressForm($cn.client, {idClient: $cn.client.idClient})"
                    ng-disabled="$cn.client.idClient == null || $cn.client.idClient == 0">
                  Add Addrees</button>

                <button type="button" class="btn btn-danger" ng-click="$cn.delete()"
                    ng-disabled="$cn.client.idClient == null || $cn.client.idClient == 0">Delete</button>
              </div>

            </fieldset>
          </form>
        </div>
      </div>

    </div>
    <!-- /.col-lg-12 -->
  </div>

</div>
