<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right" style="padding: 10px;">
        <a href="#" ui-sref="supplies.supplyMenu()" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-chevron-left"></span> Back
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Supplys
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <div id="viewItemsTable" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-lg-12">
                  <div class="pull-right" style="padding: 10px;">
                    <a href="#" ng-click="$cn.openNewModal();" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-plus"></span> Add Supply
                    </a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div loading-container="$cn.tableParams.settings().$loading">
                    <table ng-table="$cn.tableParams" class="table table-condensed table-bordered table-striped">
                      <tr ng-repeat="row in $data track by row.idSupply">
                        <td data-title="'Name'" filter="{name: 'text'}" sortable="'value'">
                          <a href="" ng-click="$cn.openModal(row);">
                            <span>{{row.name}}</span>
                          </a>
                        </td>
                        <td data-title="'Tipo Consumible'">
                          {{row.description}}
                        </td>
                        <td data-title="'P Type'" filter="{ supplyTypeName: 'select'}" filter-data="$cn.createFilter()">
                          {{row.supplyTypeName}}
                        </td>
                        <td data-title="'Precio'">
                          {{row.serviceIncrement | currency}}
                        </td>
                        <td data-title="'Action'" class="action-column">
                          <a href="#" ng-click="$cn.delete(row)" class="btn btn-danger btn-circle">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>

</div>
