<div id="page-wrapper" class="row">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Clientes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="dataTable_wrapper">
        <div id="viewItemsTable" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
          <div class="row">
            <div class="col-md-6">
              <label>Buscar:
                <input type="search" class="form-control input-sm" aria-controls="dataTables-example"
                       ng-model="$cn.searchText">
                <select class="form-control"
                        ng-model="$cn.searchFilter"
                        ng-options="filter.name for filter in $cn.filters"></select>

                <a href="#" ng-click="$cn.searchClient()" class="btn btn-info btn-sm">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href="#" ng-click="$cn.searchText = ''; $cn.searchClient()" class="btn btn-info btn-sm">
                  <span class="glyphicon glyphicon-repeat"></span>
                </a>
              </label>
            </div>
            <div class="col-lg-6">
              <div class="pull-right">
                <a href="#" ui-sref="client.edit" class="btn btn-info btn-sm">
                  <span class="glyphicon glyphicon-plus"></span> Nuevo Cliente
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table ng-table="$cn.tableParams" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data track by row.idClient">
                  <td data-title="'#'">
                    {{row.idClient}}
                  </td>
                  <td data-title="'Nombre'" filter="{name: 'text'}" sortable="'fullName'">
                    <a href="" ng-click="$cn.selectClient(row);">
                      {{row.fullName}}
                    </a>
                  </td>
                  <td data-title="'Email'">
                    {{row.email}}
                  </td>
                  <td data-title="'Direccion'">{{row.defaultAddress}}</td>
                  <td data-title="'Telefono'">{{row.mobilePhone}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
