<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right" style="padding: 10px;">
        <a href="#"
           ui-sref="client.edit({client: $cn.client})"
           class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-chevron-left"></span> Atras
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista de direcciones {{$cn.client.name}}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <div id="viewItemsTable" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-lg-12">
                  <div class="pull-right" style="padding: 10px;">
                    <a href="#" ng-click="$cn.addNewItem();" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-plus"></span> Agregar Direccion
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                    <thead>
                      <tr role="row">
                        <th>Direccion</th>
                        <th>Mas Datos</th>
                        <th>Ciudad</th>
                        <th>C.P.</th>
                        <th>-</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-show="$cn.client.addresses.length == 0 || $cn.client.addresses == null"><td colspan="6">No se encontro ningun resultado</td></tr>
                      <tr class="gradeA" role="row"
                          ng-class-odd="'odd'" ng-class-even="'even'"
                          ng-repeat="address in $cn.client.addresses">
                          <td>
                            <a href="" ng-click="$cn.addEditItem(address);">
                              {{address.address}}
                            </a>
                          </td>
                          <td>{{address.address2}}</td>
                          <td>{{address.city}}</td>
                          <td>{{address.zipcode}}</td>
                          <td>{{address.prefered}}</td>
                          <td class="action-column">
                            <a href="#" ng-click="$cn.delete(address)" class="btn btn-danger btn-circle">
                              <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
