<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <legend>Select Service</legend>
      <form novalidate>
        <div>
          <div class="modal-header">
            <div class="row" style="padding-bottom:10px;">
              <h3 class="modal-title">Agregar Servicio</h3>
              <div class=" pull-right">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default" ng-click="$cn.serviceShortcut(1)">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Lavado General</button>
                  <button type="button" class="btn btn-default" ng-click="$cn.serviceShortcut(5)">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Lavado Delicados</button>
                  <button type="button" class="btn btn-default" ng-click="$cn.serviceShortcut(6)">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Lavado Spa</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-body">
            <div class="row" style="padding-bottom:10px;">
              <div class="form-group">
                <label class="col-md-4 control-label">Categoria Servicios:</label>
                <div class="col-md-6">
                  <select class="form-control"
                          ng-options="item as item.name for item in $cn.serviceCategories"
                          ng-model="$cn.serviceCategorie"></select>
                </div>
              </div>
            </div>

            <div class="row" ng-show="$cn.serviceCategorie.idServiceCategory > 0" style="padding-bottom:10px;">
              <div class="form-group">
                <label class="col-md-4 control-label">Servicios:</label>
                <div class="col-md-6">
                  <select class="form-control"
                          ng-options="item as item.name for item in $cn.serviceCategorie.serviceTypes"
                          ng-model="$cn.serviceType" ng-change="$cn.selectService($cn.serviceType);"></select>
                </div>
              </div>
            </div>
            <div class="row" ng-show="$cn.serviceCategorie.idServiceCategory > 0" style="padding-bottom:10px;">
              <div class="form-group">
                <label class="col-md-4 control-label">Precio Servicio:</label>
                <div class="col-md-6">
                  <span>{{$cn.service.price | currency}}</span>
                </div>
              </div>
            </div>

            <div class="row" ng-show="$cn.serviceCategorie.idServiceCategory > 0" style="padding-bottom:10px;">
              <div class="form-group">
                <label class="col-md-4 control-label">Precio Specs:</label>
                <div class="col-md-6">
                  <span>{{$cn.service.specsPrice | currency}}</span>
                </div>
              </div>
            </div>

            <div class="row" ng-show="$cn.serviceCategorie.idServiceCategory > 0" style="padding-bottom:10px;">
              <div class="form-group">
                <label class="col-md-4 control-label">Precio Productos:</label>
                <div class="col-md-6">
                  <span>{{$cn.service.productsPrice | currency}}</span>
                </div>
              </div>
            </div>

            <div class="row" ng-show="$cn.serviceCategorie.idServiceCategory > 0" style="padding-bottom:10px;">
              <div class="form-group">
                <label class="col-md-4 control-label">Total:</label>
                <div class="col-md-6">
                  <span>{{$cn.service.totalPrice | currency}}</span>
                </div>
              </div>
            </div>

            <!--Products-->
            <div class="panel panel-default" ng-show="$cn.serviceType.idServiceType > 0">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-lg-6">
                    Products
                  </div>
                  <div class="col-lg-6">
                    <div class="pull-right">
                      <a href="#" ng-click="$cn.manageProducts()" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> Agregar producto
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel-body">
                <div class="row" style="padding-top:10px;">
                  <div class="col-sm-12">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                           id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                      <thead>
                      <tr role="row">
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Total</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-show="$cn.service.products.length == 0 || $cn.service.products == null">
                        <td colspan="8">Ningun producto seleccionado!</td>
                      </tr>
                      <tr role="row"
                          ng-class-odd="'odd'" ng-class-even="'even'"
                          ng-repeat="product in $cn.service.products">
                        <td>{{product.name}}</td>
                        <td>
                          <input type="number"
                                 ng-model="product.quantity"
                                 ng-change="$cn.calculateProductsTotal()"/>
                          </td>
                        <td>{{product.price | currency}}</td>
                        <td>{{product.total | currency}}</td>
                        <td class="action-column">
                          <a href="#" ng-click="$cn.deleteProduct(product)"
                             class="btn btn-danger btn-circle">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!--Specs-->
            <div class="panel panel-default" ng-show="$cn.serviceType.idServiceType > 0 && $cn.service.products.length > 0">
              <div class="panel-heading">
                Specs
              </div>
              <div class="panel-body">
                <div class="row" style="padding-top:10px;">
                  <div class="col-sm-12">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                           role="grid" aria-describedby="dataTables-example_info">
                      <thead>
                      <tr role="row">
                        <th>Nombre</th>
                        <th>Opciones</th>
                        <th>Cantidad</th>
                        <th>Tipo incremento.</th>
                        <th>Precio Unitario</th>
                        <th>Tot</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-show="$cn.service.specs.length == 0 || $cn.service.specs == null">
                        <td colspan="8">Selecciona un tipo de servicio.</td>
                      </tr>
                      <tr role="row"
                          ng-class-odd="'odd'" ng-class-even="'even'"
                          ng-repeat="spec in $cn.service.specs">
                        <td>{{spec.name}}</td>
                        <td>
                          <select class="form-control"
                                  ng-options="specsValue as specsValue.value for specsValue in spec.options[spec.idSpecs]"
                                  ng-model="spec.specsValue"
                                  ng-change="$cn.selectSpecOption(spec, spec.specsValue)"></select>
                        </td>
                        <td>
                          <input type="number"
                                 ng-change="$cn.changeQty()"
                                 ng-model="spec.quantity" />
                        </td>
                        <td>{{spec.type}}</td>
                        <td>{{spec.amt | currency}}</td>
                        <td>{{spec.price | currency}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="$cn.cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-click="$cn.addService()" ng-disabled="itemForm.$invalid">Agregar</button>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
<!-- /.col-lg-12 -->
</div>
