<div>
  <div class="modal-header">
    <h3 class="modal-title">Agregar Tareas</h3>
  </div>

  <div class="modal-body">
    <div class="row">

      <div class="col-lg-12">
        <div class="form-group">
          <label class="col-lg-3 control-label">Task Type:</label>
          <div class="col-lg-6">
            <ui-select ng-model="$cn.selectedTaskType" on-select="taskTypeSelected($item, $model)">
              <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="taskType in taskTypes | propsFilter: {name: $select.search}">
                <span ng-bind="taskType.idTaskType"></span>
                <span ng-bind="taskType.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

      <div class="col-lg-12" style="padding-top:10px;">
        <div class="form-group">
          <label class="col-lg-3 control-label">Task:</label>
          <div class="col-lg-6">
            <ui-select ng-model="$cn.selectedTask" on-select="fromSelected($item, $model)">
              <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="task in tasks | propsFilter: {name: $select.search}">
                <span ng-bind="task.idTask"></span>
                <span ng-bind="task.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="padding-top:10px;">
      <div class="col-sm-12 simpleDemo">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title ng-binding">Selected </h3>
          </div>

          <div ui-sortable="sortableOptions" ng-model="itemTypeTasks">
            <div ng-repeat="item in itemTypeTasks" style="border-bottom: 1px; solid-color: #fff">

              <dnd-nodrag>
                <div class="row" style="margin-left: 0px;">
                  <div col-sm-12>
                    <div class="col-sm-1">:::</div>
                    <div class="col-sm-8">{{item.taskTypeName}} - {{item.task.name}}</div>
                    <div class="col-sm-3 pull-right" style="text-align: right">
                      <a ng-click="deleteItem(item)" class="btn">
                        <span class="glyphicon glyphicon-remove"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </dnd-nodrag>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="okAction()" ng-disabled="itemForm.$invalid">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

</div>
