<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right" style="padding: 10px;">
        <a href="#" ui-sref="orders.orderMenu()" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-chevron-left"></span> Back
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista de Ordenes
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <div id="viewItemsTable" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-lg-12">
                  <div class="pull-right" style="padding: 10px;">
                    <a href="#" ui-sref="orders.formOrder" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-plus"></span> Nueva Orden
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">

                  <div loading-container="$cn.tableParams.settings().$loading">

                    <table ng-table="$cn.tableParams"
                        class="table table-condensed table-bordered table-striped">

                      <tr ng-repeat="row in $data track by row.idOrder">
                        <!-- <td data-title="'Client'" filter="{name: 'text'}" sortable="'client.name'"> -->
                        <td data-title="'ID'">
                          <a href="" ui-sref="orders.formOrder({order: row})">
                            {{row.idOrder}}
                          </a>
                        </td>
                        <td data-title="'Client'" filter="{clientName: 'text'}" sortable="'clientName'">{{row.clientName}}</td>
                        <td data-title="'Completed'">{{row.completed}}</td>
                        <td data-title="'Tipo Orden'" filter="{ orderTypeName: 'select'}" filter-data="$cn.createFilter()">{{row.orderTypeName}}</td>
                        <td data-title="'Precio'" >{{row.price}}</td>
                        <td data-title="'#'">
                          <a href="#" ng-click="$cn.delete(row)"
                              class="btn btn-danger btn-circle">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </td>
                      </tr>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>

</div>
