<!--******** Orders information...  -->
  <div class="row col-md-12">
    <div class="col-md-2">
      <label class="control-label">Sigueinte Tarea: </label>
    </div>
    <!--Tarea pendiente-->
    <div ng-show="contextObj.nextTask != null">
      <div class="col-md-2">
        {{contextObj.nextTask.taskName}}
      </div>

      <div class="col-md-2">
        <button type="button"
                class="btn btn-default btn-xs"
                ng-show="contextObj.nextTask.status === 0"
                ng-click="fireTaskAction(1)">
          Iniciar
        </button>
        <button type="button"
                class="btn btn-default btn-xs"
                ng-show="contextObj.nextTask.status === 1"
                ng-click="fireTaskAction(2)">
          Terminar
        </button>
      </div>
    </div>

    <!--Tarea terminada-->
    <div ng-show="contextObj.nextTask == null">
      <div class="col-md-4">
        Terminado {{contextObj.ended | date}}
      </div>
    </div>

    <div class="col-md-4">
      <button type="button" class="btn btn-default btn-xs pull-right" ng-click="isCollapsed = !isCollapsed">
        Ver Historial
      </button>
    </div>
  </div>
  <div class="row col-md-12" style="padding-top: 10px;">
    <div class="panel panel-info" uib-collapse="isCollapsed">
      <div class="panel-heading">
        Historial
      </div>
      <div class="panel-body">
        <div class="row col-md-12">
          <table class="table table-striped table-bordered table-hover dataTable no-footer"
                 role="grid"
                 aria-describedby="dataTables-example_info">
            <thead>
            <tr role="row">
              <th>Tarea</th>
              <th>Fecha Inicio</th>
              <th>Fecha Termino</th>
              <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="contextObj.tasks.length == 0">
              <td colspan="5">No Items found</td>
            </tr>
            <tr role="row"
                ng-class-odd="'odd'"
                ng-class-even="'even'"
                ng-repeat="task in contextObj.tasks">
              <td>{{task.taskName}}</td>
              <td>{{task.started | date }}</td>
              <td>{{task.ended | date}}</td>
              <td>
                <span ng-show="task.status == 2">Terminada</span>
                <span ng-show="task.status == 1">Procesando</span>
                <span ng-show="task.status == 0">Pendiente</span>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
