<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right" style="padding: 10px;">
        <a href="#" ui-sref="routes.edit({route: $cn.route})" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-chevron-left"></span> Atras
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Route's Calendar List {{$cn.route.name}}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <div id="viewItemsTable" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-lg-12">
                  <div class="pull-right" style="padding: 10px;">
                    <a href="#" ng-click="$cn.openNewModal();" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-plus"></span> Add Route Calendar
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                    <thead>
                      <tr role="row">
                        <th>Day</th>
                        <th>Starting Time</th>
                        <th>Action</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-show="$cn.route.calendarRoutes.length == 0 || $cn.route.calendarRoutes == null"><td colspan="5">No Items found</td></tr>
                      <tr class="gradeA" role="row"
                          ng-class-odd="'odd'" ng-class-even="'even'"
                          ng-repeat="calendar in $cn.route.calendarRoutes">
                          <td>
                            <a href="" ng-click="$cn.openModal(calendar);">
                              <span ng-show="calendar.day == 1">Monday</span>
                              <span ng-show="calendar.day == 2">Tuesday</span>
                              <span ng-show="calendar.day == 3">Wednesday</span>
                              <span ng-show="calendar.day == 4">Thursday</span>
                              <span ng-show="calendar.day == 5">Friday</span>
                              <span ng-show="calendar.day == 6">Saturday</span>
                              <span ng-show="calendar.day == 7">Sunday</span>
                            </a>
                          </td>
                          <td>{{calendar.time}}</td>
                          <td ng-show="calendar.action == 1">Pick Up</td>
                          <td ng-show="calendar.action == 2">Deliver</td>
                          <td class="action-column">
                            <a href="#" ng-click="$cn.delete(calendar)" class="btn btn-danger btn-circle">
                              <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>

</div>
